body {
    background-color: rgb(35, 35, 35);
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    text-align: center;
    display: block;
    color: red;
}

button:hover{
    color: white;
}

